* {
    font-family: "Poppins", sans-serif; 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    padding: 0; 
}

button {
    cursor: pointer; 
    border: none; 
}

.main-page a {
    cursor: pointer; 
}

.main-page ul {
    list-style: none; 
}

.tinder-background {
    top: 0; 
    position: fixed; 
    display: flex; 
    z-index: -1;  
}

.main-page .header {
    display: flex;
    width: 100%;
    font-size: 20px;
    flex-direction: column;
}

.main-page .tinder-back-people-kissing {
    width: 100vw;
    height: 100vh;  
}

.main-page .tinder-list {
    display: inline; 
    margin: 15px; 
}

.main-page .tinder-header {
    display: flex;
    background-color: black; 
    justify-content: space-between; 
    align-items: center; 
    padding-right: 15px; 
    padding-left: 15px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    height: 7vh;
}

.main-page .tinder-header-left-section {
    min-width: 130px;  
}

.main-page .tinder-header-middle-section {
    flex: 1; 
    display: flex; 
    min-width: 630px;
}

.main-page .tinder-link-header {
    color: white; 
    text-decoration: none; 
    letter-spacing: 1.5px; 
    font-size: 20px; 
}

.main-page .tinder-link-header:hover {
    color: crimson; 
    text-decoration: underline; 
}

.main-page .tinder-header-right-section {
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page .tinder-change-language-button {
    align-items: center;
    display: flex;
    color:  white;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.main-page .tinder-change-language-img {
    width: 25%;
    margin-right: 5px;
}

.main-page .tinder-main-body { 
    color: black; 
    margin-top: 160px; 
    font-size: 2vw; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    cursor: default; 
}

.main-page .tinder-main-body > p {
    color: white; 
}

.main-page .tinder-main-body > button {
    font-size: 25px; 
    font-weight: bold; 
    cursor: pointer; 
    padding: 15px; 
    width: 250px; 
    border-radius: 35px; 
    color: white; 
}

.main-page .create-account-button {
    margin-top: 50px;    
    border: none;   
    background-image: linear-gradient(to bottom right, red, hotpink);
    transition: 0.35s; 
}

.main-page .login-button {
    margin-top: 40px; 
    background-color: transparent;
    border-width: 5px; 
    border-style: solid; 
    border-color: black; 
    transition: 0.35s; 
}

.main-page .login-button:hover {
    color: black; 
    background-color: lightgray; 
    opacity: 0.7; 
}

.main-page .create-account-button:hover {
    filter: brightness(80%); 
}

.main-page .tinder-footage {
    display: flex; 
    font-size: 20px; 
    margin-top: 40px; 
    justify-content: flex-end; 
    padding-right: 45px; 
}

.main-page .tinder-link-download {
    color: white; 
    text-decoration: none; 
    letter-spacing: 1.5px; 
    font-size: 20px;
}

.main-page .tinder-logo {
    max-width: 100px; 
    max-height: 100px; 
}

.main-page .tinder-download-img {
    height: 40px;
    width: 50px; 
    animation-duration: 1.8s;     
    animation-iteration-count: infinite;
    animation-name: move;  
    animation-timing-function: linear; 
}

.main-page .tinder-background.active {
    filter: brightness(55%);
}

@keyframes move {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px); 
    }
}