:root {
    --fade-reject-button-color: rgb(255, 77, 77); 
    --fade-superLike-button-color: rgb(56, 175, 255); 
    --fade-like-button-color: rgb(63, 255, 191); 
}


main {
    position: fixed;
    top: 0%; 
    left: 20%; 
    width: 80%; 
    height: 100%; 
    background: gray;
    display: flex; 
    justify-content: center;  
}

main .image-cards-container {
    margin-top: 5px;
    position: relative; 
    width: 30%; 
    height: 80%;
    background-color: red;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
}

main .image-cards-container .user-info-container {
    z-index: 7; 
    position: absolute; 
    width: 100%; 
    height: 25%; 
    left: 0; 
    top: 70%;
    padding: 22px; 
    color: #fff; 
    font-size: 14px;
}

.image-cards-container .user-info-container .user-info-content {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    font-weight: 500;
}

main .image-cards-container .button-section {
    cursor: default; 
    position: fixed; 
    top: 85%; 
    width: 100%; 
    height: 15%; 
    background-color: #000; 
}

.button-section .button-container {
    display: flex; 
    padding: 15px; 
    width: 100%;
    flex-direction: row; 
    height: 100%; 
    align-items: center;
    justify-content: space-between; 
}

.button-container .interactive-button .fade-button {
    z-index: -1; 
    position: absolute; 
    width: 63px; 
    height: 60px; 
    border-radius: 50%; 
    opacity: 0; 
}

.image-cards-container .keen-slider-container {
    position: absolute; 
    width: 100%; 
    height: 85%;  
}

.image-cards-container .keen-slider-container .keen-slider {
    width: 100%;
    height: 100%; 
    overflow: hidden; 
    position: relative; 
    display: flex; 
}

.keen-slider-container .keen-slider .keen-slider-item {
    width: 100%; 
    height: 100%; 
}

.keen-slider-container .keen-slider .keen-slider-item--hidden {
    display: none;
}

.keen-slider-container .keen-slider .keen-slider-item .image {
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
    background-position: center; 
}

.sampleImg1 {
    background-image: url(../../../images/sampleImg01.JPG); 
}

.sampleImg2 {
    background-image: url(../../../images/sampleImg02.JPG); 
}

.sampleImg3 {
    background-image: url(../../../images/sampleImg03.JPG); 
}

.button-container .button-icon {
    background-color: transparent; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}

.button-container .reject-button-icon {
    outline: solid rgb(255, 49, 49) 1px; 
    outline-offset: 13px;
}

.button-container .superLike-button-icon {
    outline: solid rgb(0, 133, 222) 1px;
    outline-offset: 10px;
}

.button-container .like-button-icon {
    outline: solid rgb(0, 202, 134) 1px;
    outline-offset: 13px;
}

.button-container .button-icon.outline-hidden {
    outline: none; 
}

.button-section .button-container .interactive-button {
    position: relative; 
    cursor: pointer; 
}

.keen-slider-container .keen-slider .keen-slider-button-container {
    position: absolute; 
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    top: 50%; 
    transform: translateY(-50%);
    visibility: visible;
    opacity: 0; 
}

.keen-slider .keen-slider-button-container .keen-slider-button {
    background-color: transparent; 
}

.keen-slider-container .keen-slider .keen-slider-button-container.active {
    opacity: 1; 
}

.keen-slider-container .stamp {
    position: absolute; 
    z-index: 15; 
    width: 320px; 
    height: 320px;
    opacity: 0; 
}

.image-cards-container .keen-slider-container .slide-dot-container {
    z-index: 20; 
    position: absolute; 
    display: flex; 
    align-items: center; 
    width: 100%; 
    height: 7px; 
    margin-top: 5px; 
    padding-inline: 8px; 
}

.keen-slider-container .slide-dot-container > button {
    background-color: #3e3e3e; 
    height: 100%;
    margin: 1px; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%; 
    padding: 0; 
}

.keen-slider-container .slide-dot-container > button.active {
    background-color: #fff; 
}