aside {
    z-index: 40; 
    cursor: default; 
    width: 20%;  
    height: 100%; 
    background-color: #fff; 
    border-right: 1px solid rgba(78, 78, 78, 0.2); 
}

.header {
    width: 100%; 
    height: 10%; 
    padding: 20px 8px;
    background: var(--main-color); 
}

.navigation {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.navigation .profile-container {
    color: #fff; 
    display: flex; 
    width: 30%; 
    margin-right: 90px; 
}

.profile-container > .profile-link-button {
    width: 100%; 
    height: 55px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    border-radius: 40px; 
    cursor: pointer;
    font-weight: 600; 
    font-size: 15px;  
}

.profile-link-button:hover {
    filter: brightness(70%); 
}

.navigation .link-button {
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    border-radius: 25px; 
    background-color: rgba(0, 0, 0, 0.5); 
    transition: 0.2s; 
}

.navigation .link-button:hover {
    background-color: rgba(0, 0, 0, 0.6); 
}

.main-body {
    padding: 15px; 
    width: 100%; 
    height: 100%; 
}

.main-body .button-container {
    display: flex; 
    justify-content: space-around;
}

.main-body .button-container .matches-button,
.main-body .button-container .messages-button {
    background-color: transparent; 
}

.underline {
    height: 3px; 
    margin-top: 0px; 
    border: none; 
    background: var(--main-color); 
    position: relative;  
}

.main-content {
    margin-top: 15px; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.main-content .rectangle-images-container{
    position: relative; 
    overflow: visible; 
}

.main-content .talk-images-container {
    position: relative; 
    overflow: visible; 
}

.main-content .content-text-container,
.main-content .content-text-container {
    margin-top: 20px; 
    padding: 0 35px; 
    width: 100%; 
    height: 270px; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/*TODO: if you add more lists (that are from the <nav> element) then 
change this (give a class name) so, it does not have a negative effect: 
*/
