.root {
    --main-color: linear-gradient(to right, rgb(255, 46, 46), rgb(255, 86, 114));
}

* {
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
}

body {
    margin: 0; 
    padding: 0; 
}

button {
    cursor: pointer; 
    font-weight: 600; 
    font-size: 15px;  
    border: none; 
}

.background {
    width: 100%; 
    height: 100vh; 
}

aside {
    width: 20%;  
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
}

.header {
    width: 100%; 
    height: 11%; 
    padding: 8px;
    background-color: darkgray; 
}

.navigation {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.profile-container {
    display: flex; 
    width: 30%; 
    margin-right: 90px; 
}

.profile-container > .profile-link-button {
    width: 100%; 
    height: 55px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    border-radius: 40px; 
    background-color: red; 
    cursor: pointer;
    font-weight: 600; 
    font-size: 15px;  
}

.profile-link-button:hover {
    filter: brightness(70%); 
}

.navigation .link-button {
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    border-radius: 25px; 
    background-color: rgba(0, 0, 0, 0.5); 
    transition: 0.2s; 
}

.navigation .link-button:hover {
    background-color: rgba(0, 0, 0, 0.6); 
}

.main-body {
    padding: 15px; 
    width: 100%; 
    height: 100%; 
    background-color: lightgray; 
}

.main-body .button-container {
    display: flex; 
    justify-content: space-around;
}

.underline {
    height: 3px; 
    margin-top: 0px; 
    border: none; 
    background: var(--main-color); 
    position: relative;  
}


.main-content {
    width: 100%; 
    height: 100%; 
    background-color: blue; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.main-content .rectangle-images-container {
    width: 100%; 
    padding: 15px;
    background-color: gray;  
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


/*TODO: if you add more lists (that are from the <nav> element) then 
change this (give a class name) so, it does not have a negative effect: 
*/
