.create-account-format .footage .footage-left-section {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.create-account-format .footage .footage-button {
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    padding: 25px;
    border: none; 
    border-radius: 30px;
    transition: 0.3s; 
}

.create-account-format .footage .footage-bottom-section {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.create-account-format .footage button:disabled {
    opacity: 0.5; 
}