.create-account-format .main-body .main-body-left-section {
    display: flex; 
    flex-direction: column; 
    width: 54%; 
    height: 850px; 
}

.create-account-format .main-body .input-section {
    display: flex; 
    flex-direction: column; 
    padding-right: 10%;
}

.create-account-format .main-body .left-section-button--unselected {
    /* 
    the style with 'background' property is commented out, because it was giving us undesired result with
    toggling the classes where the bottom of the 'unselected' border was noticeably THICKER

    background: rgba(0, 0, 0, 0.5); 
    background-origin: border-box;
    */
    border-radius: 50px;
    width: 32.5%; 
    border: 2px solid rgba(0, 0, 0, 0.4); 
} 

.create-account-format .main-body .left-section-button--selected {
    background: var(--main-color); 
    background-origin: border-box;  
    border-radius: 50px;
    width: 32.5%; 
    border: 2px solid transparent; 
}

.create-account-format .main-body .input-section button{
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: rgb(250, 250, 250); 
    font-size: 18px; 
    transition: 0.2s;
    padding: 10px; 
    width: 100%; 
    border-radius: inherit;
}

/* .create-account-format .main-body .left-section-button::after {
    position: absolute;  
    border: 2px solid; 
    border-image-source: var(--main-color); 
    border-image-width: 1; 
    z-index: 5; 
    content: ''; 
    width: 100%; 
    height: 100%; 
} */

.create-account-format .main-body .first-name-label,
.create-account-format .main-body .email-label,
.create-account-format .main-body .birthday-label,
.create-account-format .main-body .gender-label,
.create-account-format .main-body .interested-in-label,
.create-account-format .main-body .relationship-intent-label {
    margin-block: 15px 10px; 
}

.main-body-left-section input[type=text]:focus {
    outline: 1px solid rgb(70, 70, 255);     
}

.create-account-format .main-body input[type=text] {
    font-size: 20px; 
    font-weight: 300; 
    width: 100%; 
    height: 100%; 
    padding: 15px; 
    border: 1px solid rgba(0, 0, 0, 0.4);
    line-height: 30px; 
    border-radius: 10px; 
}

.create-account-format .main-body .birthday-data {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 50%; 
}

.create-account-format .main-body .month-input-field,
.create-account-format .main-body .day-input-field, 
.create-account-format .main-body .year-input-field {
    width: 90%; 
}

.create-account-format .main-body .month-input-field > input,
.create-account-format .main-body .day-input-field > input, 
.create-account-format .main-body .year-input-field > input {
    text-align: center; 
}

.create-account-format .main-body .gender-selection,
.create-account-format .main-body .interest-group {
    display: flex; 
    justify-content: space-between; 
}

.create-account-format .main-body .checkbox-section {
    display: flex; 
    margin-top: 20px; 
    align-items: center; 
}

.create-account-format .main-body .custom-checkbox {
    margin-right: 5px; 
    width: 35px; 
    height: 35px; 
    cursor: pointer; 
}

.create-account-format .main-body .custom-checkbox .checkmark {
    width: 100%; 
    height: 100%; 
    border: 1px solid rgba(0, 0, 0, 0.6); 
    display: inline-block; 
    border-radius: 6px; 
    transition: 0.1s; 
    background-color: #fff; 
}

.create-account-format .main-body .custom-checkbox:hover {
    filter: brightness(85%); 
}

.create-account-format .main-body .custom-checkbox input:checked + .checkmark {
    background: rgb(255, 23, 93)
    url(../../../images/checkmark.png) center/70% no-repeat;
    transition: 0.3s; 
    border: none; 
}

.create-account-format .main-body .custom-checkbox input {
    display: none; 
}

.create-account-format .error-message {
    visibility: hidden; 
    font-weight: bold; 
    color: rgb(202, 0, 0); 
    font-size: 16px; 
}

.create-account-format .error-message.active {
    visibility: visible; 
}