.create-account-format .main-body .main-body-left-section {
    display: flex; 
    flex-direction: column; 
    width: 54%; 
    height: 850px; 
}

/* .input-section1,
.input-section2,
.input-section3,
.input-section4,
.input-section5,
.input-section6 {
    display: flex; 
    flex-direction: column; 
    padding-right: 10%; 
} */

.create-account-format .main-body .input-section {
    display: flex; 
    flex-direction: column; 
    padding-right: 10%;
}

.create-account-format .main-body .left-section-button {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    /* border: 2px solid rgba(0, 0, 0, 0.4); */
    /* border-image-source: var(--main-color); 
    border-image-width: 2px;
    border-image-slice: 1;   */
    font-size: 18px; 
    width: 32.5%; 
    padding: 10px; 
    border-radius: 50px; 
    transition: 0.2s;
    position: relative; 
}

.create-account-format .main-body .left-section-button::after {
    position: absolute;  
    content: ''; 
    inset: 0; 
    z-index: -1;
    border-radius: 50px; 
    -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
    background: var(--main-color);  
    padding: 2px; 
    pointer-events: none;
}

.create-account-format .main-body .first-name-label,
.create-account-format .main-body .email-label,
.create-account-format .main-body .birthday-label,
.create-account-format .main-body .gender-label,
.create-account-format .main-body .interested-in-label,
.create-account-format .main-body .relationship-intent-label {
    margin-block: 15px 10px; 
}

.main-body-left-section input[type=text]:focus {
    outline: 1px solid rgb(70, 70, 255);     
}

.create-account-format .main-body input[type=text] {
    font-size: 20px; 
    font-weight: 300; 
    width: 100%; 
    height: 100%; 
    padding: 15px; 
    border: 1px solid rgba(0, 0, 0, 0.4);
    line-height: 30px; 
    border-radius: 10px; 
}

.create-account-format .main-body .birthday-data {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 50%; 
}

.create-account-format .main-body .month-input-field,
.create-account-format .main-body .day-input-field, 
.create-account-format .main-body .year-input-field {
    width: 90%; 
}

.create-account-format .main-body .month-input-field > input,
.create-account-format .main-body .day-input-field > input, 
.create-account-format .main-body .year-input-field > input {
    text-align: center; 
}

.create-account-format .main-body .gender-selection,
.create-account-format .main-body .interest-group {
    display: flex; 
    justify-content: space-between; 
}

.create-account-format .main-body .relationship-intent-button {
    width: 48%; 
}

.create-account-format .main-body .checkbox-section {
    display: flex; 
    margin-top: 20px; 
    align-items: center; 
}

.create-account-format .main-body .custom-checkbox {
    margin-right: 5px; 
    width: 35px; 
    height: 35px; 
    cursor: pointer; 
}

.create-account-format .main-body .custom-checkbox .checkmark {
    width: 100%; 
    height: 100%; 
    border: 1px solid rgba(0, 0, 0, 0.6); 
    display: inline-block; 
    border-radius: 6px; 
    transition: 0.1s; 
    background-color: #fff; 
}

.create-account-format .main-body .custom-checkbox:hover {
    filter: brightness(85%); 
}

.create-account-format .main-body .custom-checkbox input:checked + .checkmark {
    background: rgb(255, 23, 93)
    url(../../../images/checkmark.png) center/70% no-repeat;
    transition: 0.3s; 
    border: none; 
}

.create-account-format .main-body .custom-checkbox input {
    display: none; 
}

.create-account-format .error-message {
    visibility: hidden; 
    font-weight: bold; 
    color: rgb(202, 0, 0); 
    font-size: 16px; 
}

.create-account-format .error-message.active {
    visibility: visible; 
}