:root {
    --main-color: linear-gradient(to bottom right, red, hotpink);
    --second-color: rgb(255, 12, 73); 
}

* {
    font-family: sans-serif; 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    padding: 0; 
    cursor: default; 
}

svg {
    width: 16px;
    height: 16px;
}

button {
    cursor: pointer; 
    border: none; 
    font-weight: 600; 
}

.create-account-format button:hover {
    filter: brightness(92%); 
}

.create-account-format span {
    font-size: 18px; 
    font-weight: normal; 
    color: rgba(0, 0, 0, 0.6); 
}

.create-account-format .header{
    display: flex;
    background-color: white;  
    position: sticky; 
    top: 0;
    justify-content: space-between; 
    padding-right: 15px; 
    padding-left: 15px; 
    z-index: 5; 
}

.create-account-format .header .line {
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.15);  
    height: 1px; 
    width: 100%;
    top: 124px; 
    left: 0; 
}

.create-account-format .header-left-section {
    display: flex; 
    align-items: center; 
}

.create-account-format .header-right-section {
    display: flex; 
    align-items: center; 
}

.create-account-format .change-language-button {
    background-color: white; 
    color: black; 
    border: none; 
    width: 80%; 
    display: flex; 
    justify-content: center; 
    font-size: 20px; 
    align-items: center; 
    border-radius: 50px;  
    transition: 0.3s; 
}

.create-account-format .change-language-img {
    width: 25%; 
    margin: 5px; 
}

/* .create-account-format .line {
    position: sticky; 
    top: 16.45%; 
    background-color: rgba(0, 0, 0, 0.15);  
    width: 100%; 
    height: 1px; 
} */

.create-account-format .main-body {
    display: flex; 
    /* background-color: rgba(0, 0, 0, 0.2);  */
    width: 100%; 
    justify-content: space-around; 
    padding-left: 12%; 
    padding-right: 12%; 
    font-size: 17px; 
    font-weight: 600; 
}

.create-account-format .footage {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    justify-content: space-around; 
    padding-left: 12%; 
    padding-right: 12%; 
    font-size: 17px;
    font-weight: 600; 
}

.create-account-format .title {
    display: flex; 
    font-size: 25px;  
    justify-content: center; 
    margin: 25px; 
}

.create-account-format .modal-window-button {
    border: 2px solid rgba(0, 0, 0, 0.4); 
    font-size: 18px; 
    width: fit-content; 
    padding-block: 10px; 
    padding-inline: 15px; 
    border-radius: 50px; 
    transition: 0.2s; 
    background-color: #fff; 
}

.create-account-format .modal-window-button span {
    font-weight: 600; 
    color: rgb(0, 0, 0); 
    
}