.add-relationship-intent { 
    width: 23%; 
    height: 500px; 
    padding: 35px 40px; 
}

.add-relationship-intent .inner-container { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.add-relationship-intent .inner-container .header {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.add-relationship-intent .inner-container .header .header-top-part {
    font-weight: 700; 
    font-size: 1.7em; 
    margin-bottom: 15px; 
}

.add-relationship-intent .inner-container .header .header-lower-part {
    font-weight: 300; 
    font-size: 1em; 
    color: rgba(0, 0, 0, 0.7);
}

.add-relationship-intent .inner-container .main-body {
    display: flex; 
    justify-content: center; 
    margin-top: 15px; 
    padding-inline: 12px; 
}

.add-relationship-intent .inner-container .main-body .button-container {
    font-weight: 400; 
    font-size: 0.95em; 
    display: grid; 
    grid-template-columns: auto auto auto; 
    width: 92%; 
    gap: 6px;
}

.inner-container .main-body .button-container > button {
    text-align: center;
    color: rgba(0, 0, 0, 0.8); 
    font-weight: inherit;
    font-size: inherit; 
    width: 100%;  
    height: 125px; 
    padding: 6px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly;
    background: #f0f2f4;
    border: 2px solid; 
    border-color: transparent; 
}

.inner-container .main-body .button-container > button.selected {
    background: inherit;  
    border-color: rgb(255, 18, 97); 
}

.add-relationship-intent .inner-container .footer-section {
    display: flex; 
    justify-content: space-evenly;
    margin-top: 30px;  
}

.add-relationship-intent .inner-container .footer-section .button-container {
    width: 95%; 
}

.add-relationship-intent .inner-container .footer-section .button-container button {
    color: #fff; 
    font-size: 1.2em; 
    font-weight: bold; 
    background: var(--main-color); 
    transition: 0.35s; 
    width: 100%;   
    height: 45px; 
    border-radius: 50px; 
}

