.add-interests {
    width: 33%; 
    height: 520px; 
    padding: 20px 30px;
}

.add-interests .inner-container {
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
}

.add-interests .header .header-top-part .svg_close_icon {
    width: 23px; 
    height: 23px;
}

.add-interests .header .header-top-part .svg_close_icon:hover path {
    fill: rgba(0, 0, 0, 0.4); 
    transition: 0.2s; 
}

.add-interests .inner-container .header {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    height: 13%; 
    justify-content: space-between;
}

.add-interests .inner-container .header .header-top-part {
    font-weight: 700; 
    display: flex; 
    width: 100%; 
    justify-content: space-between; 
    font-size: 1.3em; 
}

.add-interests .header .header-top-part .header-label {
    margin: auto; 
}

.add-interests .inner-container .header .header-lower-part {
    font-size: 1em; 
    font-weight: 400; 
    color: rgba(0, 0, 0, 0.7);
}

.add-interests .inner-container .main-part {
    margin-top: 25px; 
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;  
    width: 100%; 
    height: 70%; 
    overflow-y: scroll; 
    box-sizing: content-box;
    justify-content: space-between; 
}

.add-interests .inner-container .main-part .blur-effect {
    width: 100%; 
    height: 25px; 
    position: fixed; 
    left: 0; 
    top: 0;
    background: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(1.5px);
}

.add-interests .main-part .selection-field--add-interests {
    font-size: 0.9em; 
    border: 2px solid; 
    border-color: rgba(0, 0, 0, 0.4); 
    border-radius: 50px; 
    padding: 6px 9px;
    cursor: pointer; 
    width: fit-content; 
    margin: auto; 
}

.add-interests .main-part .selection-field--add-interests.active {
    border-color: var(--second-color); 
}

.add-interests .inner-container .footage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 16%; 
}

.add-interests .footage .save-button--add-interests {
    font-size: 1.2em; 
    font-weight: bold; 
    background: rgba(0, 0, 0, 0.1); 
    transition: 0.35s; 
    border-radius: 50px; 
    padding: 16px 55px; 
    color: rgba(0, 0, 0, 0.3); 
}

.add-interests .footage .save-button--add-interests.active {
    background: var(--main-color); 
    color: #fff; 
}

.add-interests .footage .save-button--add-interests:hover {
    filter: brightness(80%);
}