
.login-with-phone-number {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 30vw; 
    height: 55vh; 
}

.login-with-phone-number .header {
    display: flex;
    width: 100%;
    font-size: 20px;
    flex-direction: column;
}

.login-with-phone-number .header .header-upper-section {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-left: 47%; 
}

.login-with-phone-number .header .header-lower-section {
    display: flex; 
    justify-content: center; 
    margin-top: -3%; 
}

.login-with-phone-number .main-body-phone {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    margin-top: 5%; 
    justify-content: space-between; 
}

.login-with-phone-number .main-body-phone .phone-enter-section {
    display: flex; 
    flex-direction: column; 
}

.main-body-phone .phone-enter-section .form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.phone-enter-section .form .phone-input-field {
    font-size: 1.5vw;
    padding-block: 10px; 
    border: solid; 
    border-color: rgb(118, 118, 118); 
    border-width: 1px; 
    border-radius: 10px; 
}

.main-body-phone .phone-enter-section .form .next-button {
    margin-top: 12%; 
    font-size: 20px; 
    font-weight: bold; 
    padding: 15px; 
    width: 15vw; 
    border-radius: 35px; 
    color: white; 
    background-image: linear-gradient(to bottom right, red, hotpink);
    transition: 0.35s; 
}

.main-body-phone .phone-enter-section .form .next-button:hover {
    filter: brightness(80%); 
}

.login-with-phone-number .main-body-phone .alert {
    font-size: 1vw; 
    margin-top: 4%; 
    padding: 10px; 
    border-radius: 5px;
    border: none; 
}

.login-with-phone-number .main-body-phone .alert-info {
    border-color: #bce8f1;
    color: #31708f;
    background-color: #d9edf7;
}

.login-with-phone-number .main-body-phone .alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}