/* 
.registration-popup {
    top: 0; 
    display: none;
    visibility: hidden;  
    position: fixed; 
    width: 50%; 
    height: 50%; 
    z-index: 10;
    align-items: center; 
    justify-content: center; 
    opacity: 0; 
    transition: opacity 0.18s, visibility 0.18s;
}
 */
 
 .registration-container {
    width: 45vw; 
    height: 80vh; 
}

.login-to-tinder-popup .main-body {
    display: flex; 
    flex-direction: column; 
    margin-top: 3%; 
    text-align: center; 
}

.login-to-tinder-popup .main-body-buttons {
    margin-top: 11%; 
    display: flex; 
    flex-direction: column;
    height: 27vh;   
    justify-content: space-between; 
}

.login-to-tinder-popup .login-text {
    position: relative; 
    top: 12px; 
    left: 17px; 
}

.login-to-tinder-popup .footage {
    display: flex; 
    margin-top: 40px; 
    align-items: center;
    justify-content: center;
}

.login-to-tinder-popup .btn {
    font-weight: bold;
    border-radius: 25px; 
    font-size: 22px;    
    transition: 0.25s; 
    padding: 4px; 
}

.login-to-tinder-popup .btn:hover {
    filter: brightness(90%); 
}

.login-to-tinder-popup .google-lgn-button {
    background-color: #acffb7; 
}

.login-to-tinder-popup .facebook-lgn-button {
    background-color: #6877ff; 
}

.login-to-tinder-popup .phone-lgn-button {
    background-color: rgb(234, 234, 234)
}

.login-to-tinder-popup .link-in-text {
    transition: 0.1s; 
}

.login-to-tinder-popup .link-in-text:hover {
    text-decoration: none; 
}

.login-to-tinder-popup .img {
    width: 50px; 
    height: 50px;
    float: right; 
    margin-right: 18px; 
}