

.choose-gender {
    flex-direction: column; 
    align-items: center; 
    height: 90%; 
    padding: 30px; 
    width: 45%; 
}

.choose-gender .header-container{
    width: 100%; 
    display: flex; 
    margin-bottom: 10px; 
    text-align: center; 
    justify-content: center;
}

.choose-gender .search-input-container {
    display: inline-flex; 
    align-items: center; 
    width: 100%; 
    padding: 3px;
    background-color: rgb(229, 224, 255); 
    border-radius: 8px; 
}

.choose-gender .search-input {
    font-size: 18px; 
    background: transparent;
    flex-grow: 1; 
    width: 100%; 
    padding: 8px; 
    border: none; 
    outline: none; 
}

.choose-gender .search-results-container {
    width: 100%; 
    list-style: none;
    overflow-y: scroll; 
    padding: 0; 
}

.choose-gender .search-inner-content {
    display: inline-flex; 
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    padding: 18px; 
    color: rgba(0, 0, 0, 0.65); 
    font-size: 19px; 
    font-weight: normal;
}

.choose-gender .menu-option {
    width: 100%; 
    height: 65px; 
    cursor: pointer; 
}

.choose-gender .search-result:not(:last-of-type) {
    border-bottom: 1px solid rgb(200, 200, 200); 
}

.choose-gender .checkbox-container {
    display: inline-flex; 
    align-items: center;
    font-size: 18px; 
    z-index: 2; 
    font-weight: normal; 
    color: rgba(0, 0, 0, 0.65); 
    position: relative; 
    top: -20px; 
}

.choose-gender .checkbox-container2 {
    display: none; 
    align-items: center;
    justify-content: center; 
    float: right; 
    width: 8%; 
    height: 23px;  
}

.choose-gender svg {
    width: 100%; 
    height: 100%;  
}

.choose-gender .checkbox-container .custom-checkbox {
    display: flex;  
    margin-right: 5px; 
    width: 30px; 
    height: 30px; 
    cursor: pointer; 
}

.choose-gender .custom-checkbox .checkmark {
    width: 100%; 
    height: 100%; 
    display: inline-block; 
    border: 1px solid rgba(0, 0, 0, 0.6); 
    border-radius: 6px; 
    transition: 0.1s; 
    background-color: #fff; 
}

.choose-gender .custom-checkbox:hover {
    filter: brightness(85%); 
}

.choose-gender .custom-checkbox-input:checked + .checkmark {
    background: rgb(255, 23, 93)
    url(../../images/checkmark.png) center/70% no-repeat;
    transition: 0.3s; 
    border: none; 
}

.choose-gender .custom-checkbox-input {
    display: none; 
}

.choose-gender .search-results-container::-webkit-scrollbar {
    display: none; 
}

.choose-gender .button-container {
    width: 90%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.choose-gender .save-button {
    color: #fff; 
    font-size: 25px; 
    font-weight: bold; 
    background-image: linear-gradient(to bottom right, red, hotpink);
    transition: 0.35s; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 60px; 
    border-radius: 50px; 
}

.choose-gender .save-button:hover {
    filter: brightness(88%); 
}


.checkbox-container2.active {
    display: flex; 
}

.choose-gender .search-result .label-gender {
    cursor: pointer; 
}

.choose-gender .search-result .label-gender.font-light {
    font-weight: normal; 
    transition: font-weight 0.2s ease; 
}

.choose-gender .search-result .label-gender.font-bold {
    color: #000;
    font-weight: bold;
    transition: font-weight 0.2s ease;
}
