
.container-popup {
    cursor: default;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
}

.shared-popup button {
    border: none; 
    cursor: pointer; 
}

.shared-popup .header {
    display: flex;
    width: 100%;
    font-size: 20px;
    flex-direction: column;
}

.shared-popup .header-upper-section {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-left: 47%; 
}

.shared-popup .header-lower-section {
    display: flex; 
    justify-content: center; 
    margin-top: -3%; 
}

.close-modal {
    background-color: transparent;
}

.overlay {
    display: none; 
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.45); 
    z-index: 10; 
    top: 0; 
    left: 0; 
}

.modal {
    position: fixed;
    z-index: 15;
    display: none;
}

.modal.active,
.overlay.active {
    display: flex;
}