.close-modal {
    background-color: transparent;
}

button, input[type="submit"] {
    border: none; 
    cursor: pointer; 
}

.overlay {
    display: none; 
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.45); 
    z-index: 10; 
    top: 0; 
    left: 0; 
}

.modal {
    cursor: default;
    border-radius: 10px; 
    position: fixed;
    z-index: 15;
    display: none; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgb(250, 250, 250);
}

.modal.active,
.overlay.active {
    display: flex;
}