.welcome-to-tinder {
    background-color: gray; 
    width: 35%
}

.welcome-to-tinder .header-popup { 
    width: 100%; 
}

.welcome-to-tinder .main-body-popup {
    width: 100%; 
    position: relative; 
    margin: 5px; 
    padding: 6px 6px; 
}

.welcome-to-tinder .footage-popup {
    width: 100%; 
}

.welcome-to-tinder .main-body-popup .label-popup {
    font-weight: bold; 
    font-size: 16px; 
}

.welcome-to-tinder .main-body-popup .label-popup .span-popup {
    color: rgba(0, 0, 0, 0.7); 
    font-size: 14px; 
}

.welcome-to-tinder .footage-popup .agree-button:hover {
    filter: brightness(85%)
}